html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
}

.page-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#posts-graph {
    width: 100%;
    height: 100%;
}

.post-button-box {
    position: fixed;
    right: 25px;
    top: 80px;
}

.delete-button-box {
    position: fixed;
    right: 25px;
    top: 160px;
}

.link-button-box {
    position: fixed;
    right: 25px;
    top: 240px;
}

.unlink-button-box {
    position: fixed;
    right: 25px;
    top: 320px;
}

.at-error {
    height: auto !important;
    width: 100%;
    padding:5px;
    margin: 10px;
}

.create-post, .at-form {
    width: 33%;
    margin: 0 auto 0 auto;
}

.post {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    max-height: 224px;
    margin: auto;
    padding: 0px;
}

.post a {
    color: #4078c0;
}

.post a:link,
.post a:visited {
    text-decoration: none;
}

.post a:hover,
.post a:active {
    text-decoration: underline;
}

.postHeader, .postFooter {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    height: 32px;
    line-height: 32px;
}

.titleBar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border: 1px solid #999;
    border-right: none;
    border-radius: 8px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #eaeaea;
    font-weight: bold;
}

.closeButton {
    display: flex;
    align-items: center;
    width: 64px;
    margin: 0px;
    border: 1px solid #999;
    border-radius: 0px 8px 0px 0px;
    cursor: pointer;

    background-color: #f99;
    background-image: linear-gradient(#ff6d6d, #cc6060);
    font-size: 16px;
}

.closeButton:active {
    background-color: #b44;
    background-image: none;
    box-shadow: inset 0 0 8px #444;
}

.postInfo {
    display: flex;
    flex-direction: row;
    height: 45px;
    line-height: 45px;
    border: 1px solid #999;
    border-top: none;
    padding-right: 6px;

    background-color: #f6f6f6;
}

.avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 6px;
}

.postInfo span {
    flex-shrink: 0;
    display: block;
    float: right;
    margin: 0 0 10px 10px;
}

.username {
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.postContent {
    display: block;
    overflow: hidden;
    height: 100%;
    margin: 0px;
    border: 1px solid #999;
    border-top: none;
    padding: 6px;

    background-color: #fff;
}

.showRepliesButton {
    border: 1px solid #999;
    border-right: none;
    border-radius: 0px 0px 0px 8px;
}

.replyButton {
    border: 1px solid #999;
    border-right: none;
}

.moreButton {
    border: 1px solid #999;
    border-radius: 0px 0px 8px 0px;
}

.dropdownContent {
    display: none;
    position: absolute;
    right: 0px;
    text-align: center;
    line-height: 16px;
    margin: 0px;
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 8px;
}

.dropdownContent a {
    display: inline-block;
    white-space: nowrap;
    padding: 8px;
}

.dropdownContent hr {
    margin: 0px;
    padding: 0px;
}

.postFooter button {
    flex-grow: 1;
    background-color: #fff;
    background-image: linear-gradient(#fcfcfc, #ddd);
    cursor: pointer;
    border-top: none;
}

.postFooter button:active {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 0 8px #888;
}

.reply {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 224px;
    margin: auto;
    padding: 0px;
}


.reply a {
    color: #4078c0;
}

.reply a:link,
.reply a:visited {
    text-decoration: none;
}

.reply a:hover,
.reply a:active {
    text-decoration: underline;
}

.titleInput {
    overflow: hidden;
    width: 100%;
    border: 1px solid #999;
    border-right: none;
    border-radius: 8px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eaeaea;
    font-weight: bold;
}

.replyHeader, .replyFooter {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    height: 32px;
    line-height: 32px;
}

.contentInput {
    display: block;
    overflow: auto;
    height: 100%;
    margin: 0px;
    border: 1px solid #999;
    border-top: none;
    border-bottom: none;
    padding: 6px;
    word-wrap: break-word;
    background-color: #fff;
    resize: none;
}

.replyFooter button {
    flex-grow: 1;
    background-color: #fff;
    background-image: linear-gradient(#fcfcfc, #ddd);
    border: 1px solid #999;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}

.replyFooter button:active {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 0 8px #888;
}

.expandedPost {
    text-align: left;
    min-width: 320px;
    max-width: 768px;
    padding: 0px;
    margin: 0px auto;
}

.expandedPostTitle {
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.expandedPostContent {
    margin: 0px;
    padding-top: 16px;
}

.postNotFound {
    text-align: center;
}

.loading {
    text-align: center;
}
