html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
}

.page-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.expandedPost {
    text-align: left;
    min-width: 320px;
    max-width: 1024px;
    padding: 0px;
    margin: 0px auto;
}

.expandedPostTitle {
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.expandedPostContent {
    margin: 0px;
    padding-top: 16px;
}

.postNotFound {
    text-align: center;
}

.loading {
    text-align: center;
}
