
.post-button-box {
  position: fixed;
  right: 25px;
  top: 80px;
}

.delete-button-box {
  position: fixed;
  right: 25px;
  top: 160px;
}


.page-content {
  padding: 20px;
}

.at-error {
  height: auto !important;
  width: 100%;
  padding:5px;
  margin: 10px;
}

.create-post, .at-form {
  width: 33%;
  margin: 0 auto 0 auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1;
}

.load-button {
  fill: rebeccapurple;
}

.remove-button {
  fill: red;
}

text {
  font-size: 11px;
  font-family: sans-serif;
}

.text-body {
  fill: #33333f;
}

.text-title {
}

.text-box {
  stroke: #dbdbdb;
  stroke-width: 1;
  fill: #fafafa;
}

.reply-body {
  cols: 15;
  rows: 5;
  z-index: 1;
  resize: none;
}

/*.fit-graph, #posts-graph {
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}*/
