.gl-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gl-viewport {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
