#main-report-centerer {
    position: absolute;
    height: 0px;
    left: 50%;
    bottom: 50%;
}

#main-report {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 640px;
    max-width: 100vw;
    left: -50%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    clear: both;
}

#main-report textarea {
    margin: 10px 10px 0px 10px;
    height: 192px;
    resize: none;
}

#main-report-button-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#main-report-error-message {
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f33;
}
