#main-edit-centerer {
    position: absolute;
    height: 0px;
    left: 50%;
    bottom: 0px;
}

#main-edit {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 640px;
    max-width: 100vw;
    left: -50%;
    transform: translateY(-100%);
    margin: auto;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    clear: both;
}

#main-edit input {
    margin: 10px 10px 0px 10px;
    resize: none;
}

#main-edit textarea {
    margin: 10px 10px 0px 10px;
    height: 192px;
    resize: none;
}

#main-edit-button-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#main-edit-error-message {
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f33;
}
