.overview-viewport {
    position: relative;
    max-width: 1024px;
    max-height: 768px;
    width: 100vw;
    height: 75vw;
    padding: 0px;
    margin: 0px auto;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #bbb;
    overflow: hidden;
}

.overview-links-graph {
    width: 100%;
    height: 100%;
}

.overview-node {
    position: absolute;
    left: 384px;
    top: 256px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #555;
}
