#main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-viewport {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#main-reply-centerer {
    position: absolute;
    height: 0px;
    left: 50%;
    bottom: 0px;
}

#main-reply {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    left: -50%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    clear: both;
}

#main-reply input {
    margin: 10px 10px 0px 10px;
    width: 512px;
    resize: none;
}

#main-reply textarea {
    margin: 10px 10px 0px 10px;
    width: 512px;
    height: 192px;
    resize: none;
}

#main-reply-button-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
